<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
    "http://www.w3.org/TR/html4/loose.dtd">
    <html  lang="en"  xmlns:th="http://www.thymeleaf.org"
    >
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
        <title>New Company</title>
    </head>
<body >
<div align="center">
    <h2>New Company</h2>
    <form action="#" method="post" th:action="@{/company}" th:object="${company}">
        <table border="5" cellpadding="10" style="background-color: cadetblue">
            <tr>
                <td><label for="name">companyName: </label></td>
                <td><input type="text" th:field="*{companyName}" id="name"/></td>
            </tr>
            <tr>
                <td><label for="local">locatedCompany: </label></td>
                <td><input type="text" th:field="*{locatedCompany}" id="local"/></td>
            </tr>
                <td cosplan="5"><input type="submit" value="Save!"/>
                </td>
            </tr>

        </table>
    </form>
</div>
<div class="d-grid gap-1" style="color: dodgerblue">
    <a href="/company"><button type="button" class="btn btn-warning">Back</button></a>
</div>
</body>
</html>